/* Write your code here. */
body {
  margin: 0px;
}
.bg {
  background-image: url("https://assets.ccbp.in/frontend/react-js/congrats-card-bg.png");
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bg2 {
  background-color: #cffafe;
  height: 400px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}
.image {
  height: 100px;
}
@media (min-width:768px){
    .image{
        200px
    }
}